@import 'vars';
@import 'fonts';
@import 'global';


body {
    background-color: rgb(76, 76, 76);
}

.modal {
    display: none;
    font-family: "Calibri";
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(76, 76, 76, 0.6);
}
.modal__content {
    background-color: rgb(254, 254, 254);
    color: rgb(128, 35, 18);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    z-index: 9999;
}
.close__modal__window {
    color: rgb(182, 56, 56);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.modal__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.modal__title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(19, 102, 55);
}
.modal__btn {
  border: #9c7232 solid 1px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  color: #9c7232;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 2rem auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Credits to https://bootsnipp.com/snippets/1d3X9 */

.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


a {
  text-decoration: none;
  color: inherit;
}


header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

.logo__link {
    margin-left: 8px;
}

@media (min-width: 640px) {
    .logo__link {
        margin-left: 14px;
    }
}

@media (min-width: 768px) {
    .logo__link {
        margin-left: 0;
    }
}

.menu__btn {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: $bg-color;
    border: none;
    position: relative;
    border-radius: 3px;

    &::after {
        content: "";
        width: 52px;
        height: 8px;
        border-radius: 2px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 4px;
        box-shadow: 0 12px 0 0 $accent, 0 24px 0 0 $accent;
    }
}

@media (min-width: 1440px) {
    .menu__btn {
        margin-right: 90px;
    }
}

/* skyrius HEAD */

.head {
    background-image: url('../images/augusta-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}



.call {
    background-color: $accent;
    padding: 40px 0;
    color: $bg-color;
    text-align: center;

    &__title {
        @extend %open-600;
        font-family: 'OpenSans-SemiBold';
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__text {
        @extend %roboto-300;
        margin-bottom: 40px;
    }

    &__btn {
        padding: 16px 15px;
        background-color: $bg-color;
        color: $accent;
        font-size: 18px;
        @extend %open-600;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .call {
        text-align: left;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__box {
            max-width: 427px;
        }

        &__text {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1024px) {
    .call {
        &__box {
            max-width: 695px;
        }
    }
}

@media (min-width: 1440px) {
    .call {
        &__inner {
            padding: 0 80px;
        }

        &__box {
            max-width: 796px;
        }
    }
}

@media (min-width: 2560px) {
    .call {
        &__inner {
            padding: 0 80px;
        }

        &__box {
            max-width: 1000px;
        }
    }
}

.services {
    padding: 25px 0 40px;
    text-align: center;

 

    &__title {
        margin-bottom: 47px;
        color: $accent;
    }

    &__descr {
        line-height: 24px;
        font-size: 20px;
        color: $text-color;
        margin-bottom: 21px;
    }

    &__text {
        color: $default-color;
        line-height: 24px;
        font-size: 18px;
        margin-bottom: 40px;
    }

    &__item {
       
        margin: 0 5% 0 5%;
        min-height: 310px;
       
    }

    &__item:hover {

        .services__item-text,
        .services__item-link {
            opacity: 1;
            height: auto;
            overflow: visible;
        }

        .services__item-img {
            margin-bottom: 14px;
        }

        .services__item-title {
            margin-bottom: 30px;
        }

        .services__item-inner {
            border: 4px solid $accent;
            margin: 18px;
            padding: 25px 20px 5px;
            min-height: 277px;
        }
    }

    &__item-inner {
        transition: all .7s;
    }

    &__item-img {
        margin-bottom: 30px;
    }

    &__item-title {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $accent;
        @extend %open-700;
        text-transform: uppercase;
    }

    &__item-text,
    &__item-link {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all .7s;
    }

    &__item-text {
        margin-bottom: 17px;
        @extend %roboto-300;
    }

    &__item-link {
        letter-spacing: 2px;
        color: $accent;
        @extend %open-700;
        text-transform: uppercase;
    }
}

.project {
    text-align: center;
    background: linear-gradient(180deg, rgb(32, 178, 170) 0%, rgb(10, 88, 85) 100%);

    &__title {
        color: ivory;
        margin-bottom: 40px;

        &::after {
            background-color: ivory;
        }
    }

    &__item-img {
        min-height: 377px;
        height: 50vh;
        width: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        padding: 12px 14px;

        &:hover {
            .project__item-inner {
                opacity: 1;
            }
        }
    }

    &__item-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($bg-color, 0.83);
        border-radius: 4px;
        min-height: 356px;
        height: 47vh;
        width: 47vh;
        opacity: 0;
        transition: all .7s;
    }

    &__item-info,
    &__item-search {
        margin: 0 7px;
        justify-content: space-around;        
    }

    &__item-link {
        display: block;
        padding: 20px 0;
        letter-spacing: 2px;
        font-weight: bold;
        line-height: 19px;
        font-size: 18px;
        color: $accent;
        @extend %open-700;
    }
}

@media (min-width: 640px) {
    .project {
        padding: 40px 0 20px;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }


    &__item-link {
        line-height: 23px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .project {
        padding: 80px 0 60px;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }


    &__item-inner {
        min-height: 417px;
    }

    &__item-link {
        padding: 30px 0;
        line-height: 23px;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .project {
        padding: 80px 0 60px;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &__item-img {
        min-height: 377px;
        height: 50vh;
        width: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        padding: 12px 14px;

        &:hover {
            .project__item-inner {
                opacity: 1;
            }
        }
    }

    &__item-inner {
        min-height: 617px;
    }

    &__item-link {
        padding: 30px 0;
        line-height: 23px;
        font-size: 20px;
    }
}



.team {
    padding: 20px 0 40px;
    text-align: center;
    &__inner{
    text-align: center;
    align-content: center;
    }
    &__images {
        width: 30vh;
        height: 30vh;
        margin-bottom: 40px;
        border-radius: 50%;
    }

    &__title {
        color: $text-color;
        margin-bottom: 23px;
    }

    &__text {
        margin-bottom: 84px;
    }

    &__btn {
        border: none;
        background-color: $accent;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 21px 26px;
        color: $bg-color;
        align-items: center;
    }
}
.title-team {
    line-height: 48px;
    font-size: 44px;
    color: $accent;
    @extend %open-700;
    position: relative;
    padding-bottom: 28px;
    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 8px;
        background-color: $accent;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .title-team{
        text-align: left;
    }
    .team {
        padding: 40px 0 80px;
        text-align: left;
        &__inner{
            display: flex;
        }
        &__images{
            margin-bottom: 0;
            margin-right: 34px;
        }
        &__title{
            margin-bottom: 17px;
            &::after{
                margin-left: 0;
                width: 100px;
            }
        }
        &__text{
            margin-bottom: 56px;
            font-size: 18px;
            text-align: left;
        }
    }
}

@media (min-width: 1024px) {
    .title-team{
        text-align: left;
    }
    .team {
        padding: 40px 0 80px;
        text-align: left;
        &__inner{
            display: flex;
        }
        &__images{
            margin-bottom: 0;
            margin-right: 34px;
        }
        &__title{
            margin-bottom: 17px;
            &::after{
                margin-left: 0;
                width: 100px;
            }
        }
        &__text{
            margin-bottom: 56px;
            font-size: 18px;
            text-align: left;
        }
    }
}

@media (min-width: 2560px) {
    .title-team{
        text-align: left;
    }
    .team {
        text-align: left;
        &__inner{
            display: flex;
        }
        &__images{
            margin-bottom: 0;
            margin-right: 34px;
        }
        &__title{
            margin-bottom: 17px;
            &::after{
                margin-left: 0;
                width: 100px;
            }
        }
        &__text{
            margin-bottom: 56px;
            font-size: 18px;
            text-align: left;
        }
    }
}


/* STYLES SPECIFIC TO FOOTER  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}
.footer-left {
    margin: 0 40px 40px 0;
}
/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(32, 178, 170);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-flex;
	width: 35px;
	height: 35px;
	cursor: pointer;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 20px;
	margin-bottom: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



    